application/config/config.php
application/config/database.php
uploads/.thumbs
uploads/files
uploads/images
exports
_assets
application/modules/CMS/controllers/importing
application/views/includes/fs.twitter.json.cache

